<h1>Editing Professional Datum</h1>

<%= render 'form', professional_datum: @professional_datum %>

<%= link_to 'Show', employee_professional_datum_path(@professional_datum) %> |
<%= link_to 'Back', employee_professional_data_path %>
